<div class="container">
  <div class="share-explanation">
    <p>
      Enter the Email of the person you would like to share your companies with.
    </p>
  </div>
  <div class="row">
    <div class="col-12">
        <%= render 'form' %>
    </div>
  </div>
</div>
