<h2 class="company-index-name text-center p-2 font-italic">
  <%= c.name %>
</h2>
<p class="pl-2"> <%= c.created_at.strftime("%b %d, %Y") %>
  <span class="status-index-<%=c.status%>"> - <%= c.status %></span>
</p>
