<div class="container-fluid">
  <div class="row text-center mt-3 mb-3">
    <div class="col-12">
      <h1 class="animated bounceInDown">
        Companies
        <%= link_to new_company_path, class: "btn btn-outline-primary" do %>
          New <i class="fa fa-plus"></i>
        <% end %>
      </h1>
    </div>
  </div>
  <% if @companies.empty? %>
    <div class="row">
      <div class="col-12">
        <p class="text-center text-danger"> Looks like you don't have any companies yet!</p>
      </div>
    </div>
  <% else %>
    <%= render 'companies' %>
  <% end %>
</div>
