/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require animate
 */
@import "bootstrap";
@import "font-awesome";

body, html {
  min-height: 100%;
  box-sizing: border-box;
  font-family: Helvetica Georgia;
  letter-spacing: 2px;
}

body {
  background: linear-gradient(110deg, #AFC7E3 60%, whitesmoke 60%);
}

.devise-forms {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 20px;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px 4px white;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 3px 4px white;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 3px 4px white;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.devise-title-font {
  font-family: "Georgia";
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0.8px 1.6px 2.1px grey;
}

.devise-label {
  font-family: "Georgia";
  font-weight: bold;
  text-shadow: 0.8px 1.6px 2.1px grey;
}

.company-index-container {
  margin: 0 auto 10px;
  border: 1px solid black;
  box-shadow: 1px 2px 2px 2px black;
  border-radius: 5px;
  width: 75%;
}

.company-index-name {
  background: #343a40;
  color: whitesmoke;
}

.actions-bar-index-company {
  background: #343a40;
}

.applications-data {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px grey;
  font-size: 18px;
}

.status-index-rejected {
  color: red;
}

.status-index-pending {
  color: blue;
}

.status-index-inquired {
  color: green;
}

.control-actions {
  background: black;
  width: 75%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 3px 4px 4px 5px grey;
}

@media only screen and (max-width: 768px) {
  .company-index-name {
    font-size: 20px;
  }
}
